{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-headerNav">
    {% if is_granted('ROLE_USER') %}
        <div class="ec-headerNav__item">
            <a href="{{ 'https://instagram.com/giftcommunication?igshid=YmMyMTA2M2Y='}}">
                <img src="/html/user_data/assets/img/sns/SP_Instagram_2.svg">
                <span class="ec-headerNav__itemLink">{{ 'インスタグラム'|trans }}</span>
            </a>
        </div>
        <div class="ec-headerNav__item">
            <a href="{{ 'https://mobile.twitter.com/giftcommunicat1'}}">
                <img src="/html/user_data/assets/img/sns/SP_Twitter_2.svg">
                <span class="ec-headerNav__itemLink">{{ 'ツイッター'|trans }}</span>
            </a>
        </div>
        <div class="ec-headerNav__item">
            <a href="{{ url('mypage') }}">
                <img src="/html/user_data/assets/img/memu/sp_mypage.svg">
                <span class="ec-headerNav__itemLink">{{ 'マイページ'|trans }}</span>
            </a>
        </div>
        <div class="ec-headerNav__item">
            <a href="{{ url('logout') }}">
                <img src="/html/user_data/assets/img/memu/sp_logout.svg">
                <span class="ec-headerNav__itemLink">{{ 'ログアウト'|trans }}</span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item">
                <a href="{{ url('mypage_favorite') }}">
                    <img src="/html/user_data/assets/img/memu/sp_favorite.svg">
                    <span class="ec-headerNav__itemLink">{{ 'お気に入り'|trans }}</span>
                </a>
            </div>
        {% endif %}
    {% else %}
        <div class="ec-headerNav__item">
            <a href="{{ 'https://instagram.com/giftcommunication?igshid=YmMyMTA2M2Y='}}">
                <img src="/html/user_data/assets/img/sns/SP_Instagram_2.svg">
                <span class="ec-headerNav__itemLink">{{ 'インスタグラム'|trans }}</span>
            </a>
        </div>
        <div class="ec-headerNav__item">
            <a href="{{ 'https://mobile.twitter.com/giftcommunicat1'}}">
                <img src="/html/user_data/assets/img/sns/SP_Twitter_2.svg">
                <span class="ec-headerNav__itemLink">{{ 'ツイッター'|trans }}</span>
            </a>
        </div>
        <div class="ec-headerNav__item">
            <a href="{{ url('entry') }}">
                <img src="/html/user_data/assets/img/memu/sp_new_entry.svg">
                <span class="ec-headerNav__itemLink">{{ '新規会員登録'|trans }}</span>
            </a>
        </div>
        <div class="ec-headerNav__item">
            <a href="{{ url('mypage_login') }}">
                <img src="/html/user_data/assets/img/memu/sp_login.svg">
                <span class="ec-headerNav__itemLink">{{ 'ログイン'|trans }}</span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item">
                <a href="{{ url('mypage_favorite') }}">
                    <img src="/html/user_data/assets/img/memu/sp_favorite.svg">
                    <span class="ec-headerNav__itemLink">{{ 'お気に入り'|trans }}</span>
                </a>
            </div>
        {% endif %}
    {% endif %}
</div>